# site_libs/
# docs/
/.quarto/
/.vscode/
.history/
# images/
_notes_on_website_design.md

# /_site/
.Rproj.user
# posts/
# package-lock.json
# package.json
yarn.lock
.dbxignore
static/
# netlify.toml
node_modules/
/images/adult-services.png/
/Users/joey/brainworkup/images/jwt_fighton.jpg
local/
img/
data/
/local/**
docs/faq/insurance.md
docs/pediatric-neuropsychology/nvld.qmd
docs/pediatric-neuropsychology/adolescent.qmd
docs/pediatric-neuropsychology/preschool.qmd
docs/pediatric-neuropsychology/school-age.qmd

.deno_lsp/log_2023-12-21T00_10_53.161998+00_00.txt
.deno_lsp/log_2023-12-21T00_30_07.467283+00_00.txt
.deno_lsp/log_2023-12-21T00_30_48.331045+00_00.txt
.deno_lsp/**.txt
