/* https://github.com/fastai/nbdev/blob/master/nbs/index.css */

:root {
  --background: #33373f;
  --background-2: #41454e;
  --foreground: white;
  --foreground-2: #484d54;
  --content-width: 1000px;
}
