/* https://github.com/fastai/nbdev/blob/master/nbs/index.css */

:root {
  --background: #33373f;
  --background-2: #41454e;
  --foreground: white;
  --foreground-2: #484d54;
  --content-width: 1000px;
}

/* h1,
h2,
h3 {
  font-weight: normal;
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  text-align: center;
} */

/* .title {
  background: linear-gradient(240.01deg, #78858c 15.29%, rgba(105, 117, 123, 0) 138.75%);
} */
